.container{
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Montserrat;
  color: rgb(143, 0, 255);
  font-weight: bold;
}
.container div:hover{
  border-bottom: 3px solid black;
  transition:all 0.3s ease;
}